<h2>Показания счетчиков</h2>
<h4>Квартира № {{ flatNumber }}</h4>

<p>Вода, горячая: <strong>{{ card.waterHot }}</strong></p>
<p>Вода, холодная: <strong>{{ card.waterCold }}</strong></p>

<p>Дата сбора показаний: {{ card.createdAt.format('Y-m-d H:i') }}</p>
